*{
    box-sizing: border-box;
}
body{
    background-color: rgb(239, 251, 221);
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
color: green;
font: bolder;
font-size: 60px;
margin-top: 10px;
margin-bottom: 20px;
}
.heading{
    color: rgba(95, 28, 28, 0.989);
}
.card{
    display: flex;
    padding: 15px 20px;
    flex-direction: column;
    background-color:  #FBFBFB;
    max-width: 660px;
    width: 100%;
    border-radius: 15px;
}
.card-1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-0{
    margin-left: 30px;
}
.container + .container{
    margin-top: 40px;
}

.range-bar{
    background-color: rgb(239, 251, 221);
    max-width: 570px ;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 40px;
}
.range-value{
    background-color: rgb(85, 173, 50);
    color: white;
    max-width: 570px ;
    width: 0;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.25s ease-in-out;
}
.range-value span{
   margin-left:15px;
   min-width: max-content;
}
.error{
    color: red;
    display: none;
}
.container{
    background-color: #FFFFFF;
  border: 1px solid grey;
padding: 20px;
max-width: 570px ;
width: 100%;
border-radius: 17px;
display: flex;
gap: 10px;
}
.checkbox{
    width: 24px;
    height: 24px;
    border-radius: 20px;
    outline: auto gray;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.checkbox.completed{
    background-color: rgb(85, 173, 50);
    outline: none;
    border: none;
}
.checkbox img{
  margin-left: 5px;
  color: #FFFFFF;
}
.goal-input{
    max-width: 364px;
    width: 100%;
    border: none;
    font-weight: 500;
    font-size: 16px; 
}
.goal-input.completed{
    color: rgb(85, 173, 50);
    font-weight: 500;
    font: 24px;
    font: bold;
    text-decoration: line-through;
}
.goal-input:focus{
    outline: none;
}
.bottom-quote{
    margin: 0 auto;
    margin-top: 35px;
}
.author{
    margin: 0 auto;
    margin-top: 50px;
}
.today h2{
    display: flex;
    align-items: center;
    font-size: 35px;
    gap: 15px;
    margin-bottom: 0;
}
@media(max-width:450px){
    h1{
        font-size: 45px;
    }
    .today h2{
        font-size: 25px;
    }
}